@media screen and ( max-width: 1200px )
  .container
    max-width: 960px

@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    max-width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
    &-menu
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      max-width: 340px
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-bottom, &__user
      display: none
  .menu-button
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    height: 11px
    width: 16px
    border: none
    background-color: #fff
    padding: 0
    &__line
      width: 16px
      height: 1px
      background-color: $text-color
  .hotel
    padding: 0
    &-wrapper
      justify-content: space-between
    &-info
      &__rating
        display: none
      &__offer
        order: -1
        margin: 0
      &__name
        margin-top: 10px
      &__text
        width: 100%
    &-name
      flex-basis: 100%
  .stars
    flex-basis: content
@media (max-width: 576px)
  .logo
    max-width: 99px
